/* Contenedor del sidebar y el botón de toggling */
.sidebar-container {
    position: relative;
    background-color: brown;
  }
  
  /* Estilos del sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ancho del sidebar */
    height: 100%;
    background-color: brown; /* Color de fondo del sidebar */
    color: #fff; /* Color del texto en el sidebar */
    overflow-x: hidden;
    overflow-y: auto; /* Permite el scroll si el contenido es más largo que el viewport */
    transition: transform 0.3s ease; /* Transición para animar la apertura y cierre del sidebar */
    transform: translateX(-100%); /* Inicialmente oculta el sidebar */
    z-index: 1000; /* Asegúrate de que el sidebar esté sobre el contenido */
  }
  
  /* Cuando el sidebar está abierto, se desplaza hacia la vista */
  .sidebar.open {
    transform: translateX(0); /* Muestra el sidebar cuando está abierto */
  }
  
  /* Estilos para el botón de toggling del sidebar */
  .sidebar-toggle {
    position: relatives;
    top: 50%;
    color: brown;
    border: none;
    border-radius: 50%; /* Bordes redondeados solo en el lado izquierdo */
    width: 50px;
    height: 50px; /* Tamaño del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del botón de toggle */
    z-index: 1001; /* Asegúrate de que el botón esté sobre el sidebar */
    transition: background-color 0.3s ease; /* Suaviza el color del botón en hover */
  }
  
  /* Cambia el color del botón cuando el sidebar está abierto */
  .sidebar-toggle.open {
    background-color: #6b0000; /* Cambia el color si es necesario */
  }
  
  /* Color del botón cuando está en hover */
  .sidebar-toggle:hover {
    background-color: #682e2e; /* Color del botón cuando está en hover */
  }
  
  /* Ajuste del contenido principal cuando el sidebar está abierto */
  .main-content {
    transition: margin-left 0.3s ease; /* Suaviza la transición cuando se desplaza el contenido */
    margin-left: 0; /* Posición inicial del contenido principal */
    padding: 20px; /* Añade espacio interno al contenido principal */
  }
  

  /* Estilos para la lista de elementos del sidebar */
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #944747; /* Color de fondo cuando el enlace está en hover */
  }
  