@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.loan-calculator {
    color: white;
    padding: 0;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
}

.loan-calculator h1 {
    color: white;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    margin-top: 10px;
    color: rgb(141, 0, 0);
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: brown;
}

button:active {
    background-color: rgb(252, 252, 252);
}

@media (min-width: 1024px) {
    .loan-calculator {
        max-width: 700px;
        padding: 30px;
    }

    input {
        padding: 12px;
    }

    button {
        font-size: 20px;
        padding: 12px 24px;
    }
}

@media (max-width: 600px) {
    .loan-calculator {
        max-width: 90%;
        padding: 15px;
    }

    input {
        padding: 8px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }
}
