@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.inicioSesion {
    max-width: 500px;
    color: white;
    padding: 0;
    text-align: center;
    padding: 20px;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif; 
}

.inicioSesion p {
    color: white;
}

.mensaje-exito h1 {
    color: white;
}

/* Estilos para los labels y inputs */
label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    font-family: "Montserrat", sans-serif; 
}

.inicioSesion a {
    color: rgb(252, 252, 252);
}

.inicioSesion h1 {
    color: rgb(252, 252, 252);
}

/* Estilos para el botón de envío */
button {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255); /* Color de fondo del botón */
    color: #000000; /* Color del texto en el botón */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: "Montserrat", sans-serif; 
}

button:hover {
    background-color: rgb(96, 50, 50); 
}

button:active {
    background-color: white; /* Color de fondo cuando el botón está presionado */
}

.error-message {
    color: rgb(252, 252, 252);
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif; 
}

.CrearC {
    max-width: 500px;
    color: white;
    padding: 0;
    text-align: center;
    padding: 20px;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif; 
}

.CrearC h1, a {
    color: white;
}

.mensaje-exito {
    max-width: 500px;
    color: white;
    padding: 0;
    text-align: center;
    padding: 20px;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif; 
}


input, button {
    font-family: "Montserrat", sans-serif !important; 
}



