@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.landpage-container {
    max-width: 500px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif; /* Aplicando Montserrat */
}

.landpage-container h1 {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif; /* Aplicando Montserrat */
}

.landpage-container p {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif; /* Aplicando Montserrat */
}

/* Estilos para el botón */
button {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255); /* Color de fondo del botón */
    color: #000000; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: "Montserrat", sans-serif; /* Aplicando Montserrat */
}

button:hover {
    background-color: rgb(96, 50, 50); /* Color de fondo cuando está en hover */
}

button:active {
    background-color: white; /* Color de fondo cuando está presionado */
}

/* Forzando Montserrat para botones y textos donde sea necesario */
button, p, h1 {
    font-family: "Montserrat", sans-serif !important; /* Aplicando Montserrat con !important */
}
