.cuentas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .cuenta {
    background-color: #F4F4F9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .saldo {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  