.historialContainer {
    padding: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: brown;
    font-family: 'Cinzel', serif;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    height: 180px; /* Ajusta la altura para mostrar hasta 3 movimientos */
    box-sizing: border-box;
}

.historialContainer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.historialContainer li {
    padding: 1
    px;
    border-bottom: 2px solid brown;
    width: 100%;
    box-sizing: border-box;
}

.historialContainer ul li:last-child {
    border-bottom: none;
}
