
.historialContainer {
    padding: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: brown;
    font-family: 'Cinzel', serif;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

}

.historialContainer ul {
    display:flex;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;

}

.historialContainer li{
    flex: 0 0 auto;
    padding: 10px;
    border-bottom: 2px solid brown;
    width: 100%;
    box-sizing: border-box;
    position: relative;

}

.historialContainer ul li:last-child {
    border-bottom: none;
    width: 100%;
}
