.loan-calculator{
    max-width: 400px;
    margin: auto;
    text-align: center;
}
input {
    margin: 10px 0px;
    padding: 8px;
    width: 100%;
}
button{
    position: relative;
    top: 15px;
    color:rgb(141, 0, 0);
    font-size: 18px;
    border: 1px;
    padding: 10px 20px;

    transition: background-color 0.3s ease;
    background-color: rgb(201, 155, 155);
    border-radius: 50px;
}
button:Hover {
    color: rgb(255, 255, 255);
    background-color: brown;
}
button:active{
    background-color: red;
}
