.TransferenciasContainer{
    max-width: 500px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; /* Fondo opcional */
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    position: relative;
    left: 360%;
    top: 20%;
}



.inputGroup {
    margin: 10px 0px;
    padding: 8px;
    width: 100%;
}

input{
    margin: 10px 0px;
    padding: 8px;
    width: 100%;
}

button{
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
}